[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
parsel = "*"
pandas = "*"
openpyxl = "*"
selenium = "*"
webdriver-manager = "*"

[dev-packages]
ruff = "*"
isort = "*"
blue = "*"

[requires]
python_version = "3.11"
